# =========================================
# Unreal Engine Project Ignore
# =========================================

# Build / Generated
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio / Rider
.vs/
*.VC.db
*.VC.opendb
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Auto generated project files
*.opensdf
*.sdf
*.tlog
*.pdb

# Temporary files
*.tmp
*.temp

# Packaging
Build/
Releases/

*_BuiltData.uasset

# Crash dumps
*.dmp

# Unreal autosave & backup
Saved/Autosaves/
Saved/Backup/

# Rider
.idea/

# Unreal Derived data local cache
DerivedDataCache/

# Shader cache
Saved/Shaders/

# -----------------------------------------
# IMPORTANT: DO NOT IGNORE CONTENT OR SOURCE
# -----------------------------------------